@model LibWEB.ViewModel.LoginViewModel

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="Login" method="post">
            <div class="form-group">
                <label asp-for="Email">E-mail</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Пароль</label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input asp-for="RememberMe" class="form-check-input" />
                    <label class="form-check-label" asp-for="RememberMe">Запомнить меня</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    </div>
</div>

